.post-container {
  max-width: 960px;
  margin: 2rem auto;
  .post-header {
    font-size: 2rem;
    margin-bottom: 2.5rem;
    color: crimson;
  }
  .post-content {
    font-size: 1rem;
    color: #666;
    p {
      margin-bottom: 2rem;
    }
  }
}
